.formContainer {

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  .form {
    margin: 2rem 0;
    width: 45%;
    padding: 1rem 2rem;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
    .header {
      display: flex; align-items: center; justify-content: center;
      .title {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
    }
    .body {
      
      display: flex; flex-direction: column;
      align-items: center;
      justify-content: center;
      .formItem {
        width: 90%;
        display: flex; flex-direction: column;
        margin: 1rem 0;
        label {
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
          i { font-size: 1.3rem; margin-right: 0.75rem; }
        }
      }
    }
    .footer {
      display: flex; justify-content: center;
      margin-top: 2rem;
      position: relative;
      .loaderContainer {
        position: absolute;
        right: 10%;
        top: 1rem;
      }
      .resultContainer {
        position: absolute;
        left: 0;
        top: 0.5rem;
        &.show    { .resultText { opacity: 1; } }
        &.okText  { .resultText { background-color: rgb(85, 255, 139); } }
        &.errText { .resultText { background-color: rgb(255, 142, 142); } }
        .resultText {
          
          padding: 0.25rem 0.75rem;
          border-radius: 10px;
          font-size: 0.8rem;
          opacity: 0;
          transition: all ease-in-out 100ms;
        }
      }
      .loginBtn {
        margin-top: 2rem;
        padding: 0.5rem 2rem;
      }
    }

  }
}

.dataLoader {
  display: flex; flex-direction: column;
  top: 50%;
  left: 50%;
  font-size: 1.25rem;
  position: absolute;
  .loaderContainer { scale: 2; }
}

.notFound {
  display: flex; align-items: center; justify-content: center;
  .notFoundTitle {
    font-size: 2rem;
    margin-top: 3rem;
  }
}