@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


body, html, #root, .App {

  font-family: 'Tilt Neon', cursive !important;

  margin: 0;
  display: flex; flex-direction: column;
  
  width: 100%;
  height: 100%;
}

.loaderContainer {
  display: flex; flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
  .loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    
    position: relative;
    background: #d4d4d4;
    box-shadow: -24px 0 #d4d4d4, 24px 0 #d4d4d4;
    box-sizing: border-box;
    scale: 0.9;
    animation: shadowPulse 1.25s ease infinite;
    &.sm { scale: 0.7; }
    &.lg { scale: 1.1; }
  }
  
  @keyframes shadowPulse {
    33% {
      background: #d4d4d4;
      box-shadow: -24px 0 #538fff, 24px 0 #d4d4d4;
    }
    66% {
      background: #538fff;
      box-shadow: -24px 0 #d4d4d4, 24px 0 #d4d4d4;
    }
    100% {
      background: #d4d4d4;
      box-shadow: -24px 0 #d4d4d4, 24px 0 #538fff;
    }
  }
}
    



